
        body {
            color: #34495E;
        }
        .vcht_chat .palette-turquoise,.btn-primary,.btn-primary:hover,.btn-primary:active {
            background-color: #1ABC9C;
            color: #FFFFFF;
        }
        .vcht_chat .bubble_right .bubble_arrow {
            border-color: transparent transparent transparent #1ABC9C;
        }
        .vcht_chat .palette-clouds {
            background-color: #ECF0F1;
            color: #bdc3c7;
        }
        .vcht_chat .form-control:focus {
            border-color: #1ABC9C;
        }
        .vcht_chat .anim {
            background: none repeat scroll 0 0 #1ABC9C;
        }
        .vcht_chat .btn-default,.btn-default:hover,.btn-default:active {
            background-color: #CACFD2;
        }
        .vcht_chat .form-control {
            border-color: #CACFD2;
        }
        .vcht_chat .bubble_left .bubble_arrow {
            border-color: transparent #ECF0F1 transparent transparent;
        }
        .vcht_selectedDom {
            -moz-box-shadow: 0px 0px 40px 0px #1ABC9C ;
            -webkit-box-shadow: 0px 0px 40px 0px #1ABC9C ;
            -o-box-shadow: 0px 0px 40px 0px #1ABC9C ;
            box-shadow: 0px 0px 40px 0px #1ABC9C ;
        }
        .nicescroll-rails > div {
            background-color: #CACFD2 !important;
        }
        .avatarImg {
            background-image: url(../../console/include/files/guest-48.png);
        }

        @-o-keyframes glow {
            0% {
                -o-box-shadow: 0px 0px 10px 0px #1ABC9C;
            }
            50% {
                -o-box-shadow: 0px 0px 40px 0px #1ABC9C;
            }
            100% {
                -o-box-shadow: 0px 0px 10px 0px #1ABC9C;
            }
        }
        @-moz-keyframes glow {
            0% {
                -moz-box-shadow: 0px 0px 10px 0px #1ABC9C;
            }
            50% {
                -moz-box-shadow: 0px 0px 40px 0px #1ABC9C;
            }
            100% {
                -moz-box-shadow: 0px 0px 10px 0px #1ABC9C;
            }
        }
        @-webkit-keyframes glow {
            0% {
                -webkit-box-shadow: 0px 0px 10px 0px #1ABC9C;
            }
            50% {
                -webkit-box-shadow: 0px 0px 40px 0px #1ABC9C;
            }
            100% {
                -webkit-box-shadow: 0px 0px 10px 0px #1ABC9C;
            }
        }
        @keyframes glow {
            0% {
                box-shadow: 0px 0px 10px 0px #1ABC9C ;
            }
            50% {
                box-shadow: 0px 0px 40px 0px #1ABC9C ;
            }
            100% {
                box-shadow: 0px 0px 10px 0px #1ABC9C ;
            }
        }
        